html{
	scroll-behavior: smooth;  
}

body{
	margin: 0;
	/*font-family: 'Source Sans Pro',Helvetica,Arial,sans-serif;*/
	/*font-family: "San Francisco", "Helvetica Neue", sans-serif;*/
	font-family: 'Oswald', sans-serif;
	font-size: 18px; 
	line-height: 35px; 
	max-width: 100%
	/*color: #757575; */
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('images/beach.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* CREATING A NAVIGATION BAR */
.navbar { 
  z-index: 9999; 
  width: 100%;
  max-width: 100%;
  background-color: #333;
  opacity: 0.85;
  position: fixed; 
  padding: 0px;
}

.navbar-collapse.in {
    display: block !important;
}

.navbar-nav {
	width: 100%;
	padding-left: 15px; 
}

/* Style the links inside the navigation bar */
.nav-link { 
  color: #f2f2f2;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 2px; 
  font-weight: bold; 
}

/*.navbar-brand {
	vertical-align: center; 
}

.navbar-brand img {
	padding: auto; 
	vertical-align: center; 
	height: 40px;
	width: auto;
	border-radius: 15%;
	padding: auto; 
}*/

/* Change the color of links on hover */
.nav-link:hover {
  /*background-color: white; */
  color: #3498db;
}

/* Add a color to the active/current link */
.navbar a:active {
  /*background-color: #3498db;*/
  color: violet;
}


/* LAYOUT OF HEADER SECTION AND ABOUT ME BUTTON */
header {
	/*background-color: #1560FB; */
	text-align: center; 
}

header img {
	width: 100%; 
	background-size: cover;
	/*height: 790px;*/
	/*height: 100%; */
}

.head-icon-1, .head-icon-2, .head-icon-3{
    /*color: #f2f2f2;*/
  color: white; 
	font-size: 30px; 
  text-decoration: none;
 	/*border-radius: 50%; */
 	/*border: 2px solid white;*/
 	padding-left: 5px; 
  padding-right: 5px; 
 	display: inline-block;
 	float: center; 
}

.head-icon-1 a, .head-icon-2 a, .head-icon-3 a {
  color: white;
}

 /* Style the links inside the navigation bar */
.header-bttn p { 
  float: center;
  /*color: #f2f2f2;*/
  color: white;
  text-align: center;
  vertical-align: center; 
  padding: 10px 40px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 3px; 
}

.header-bttn:hover{
  background-color: white; 
  /*color: #3498db;*/
}

.header-bttn:hover p{
  background-color: white; 
  color: #3498db;
}

.header-bttn{
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background: 0 0;
  cursor: pointer;
  border: 2px solid white;
  font-family: 'Oswald', sans-serif;
  padding: 0px;
}

.head-container img {
  width: 100%;
  height: auto;
}

.centered{
	position: absolute;
	top: 45%;
 	left: 50%;
 	transform: translate(-50%, -50%);
}

.container {
	max-width: 1100px; 
    margin: 0 auto;
   }

.container .bttn{
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*-ms-transform: translate(-10%, -50%);*/
  background-color: #f7f7f7;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  /*border-radius: 5px;*/
}

.container .bttn:hover {
  background-color: white;
  color: #3498db;
}

.sectionheader {
    text-align: center;
    padding-top: 50px;
}

/* WELCOME PAGE TEXT */
header h1{
	/*font-family: "San Francisco", "Helvetica Neue", sans-serif;*/
	/*font-family: 'Oxygen', sans-serif;*/
	font-size: 70px; 
	color: white;
	padding-top: 0px; 
	padding-bottom: 5px; 
	margin-top: 50px; 
	margin-bottom: 50px; 
}

header .subtitle{
	font-size: 25px; 
	font-family: 'Gupter', serif;
	letter-spacing: 1.5px; 
	font-weight: bold; 
	color: white; 
	width: 70%;
	float: center; 
	padding-bottom: 35px; 
	margin: auto; 
}

/* LAYOUT OF WEBSITE BODY */
main {
	text-align: center; 
}

/* PROFILE PICTURE LAYOUT */
#page-about img {
	max-width: 100%; 
	width: 225px; 
	height: 225px; 
	border-radius: 150px; 
	/*border: 5px solid #333; */
	/*float:left;*/
	position: relative;
	/*margin: 50px 0 0 50px;*/
	/*float: right; */
	margin-top: 25px; 
}

/* SECTION HEADERS */
.sectiontitle{
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: center;
    color: #555;
    text-transform: uppercase;
    padding-bottom: 25px; 
    /*line-height: 25px;*/
    /*padding: 20px 0;*/
}

/*Vanderbilt and McD headings*/
h4{
	color: #555; 
	font-size: 30px; 
	margin: 10px; 
}

/* BLUE HEADINGS */
h5{
	color: #3498db; 
	font-size: 22px; 
	margin-left: 0px; 
	margin-right: 0px; 
	margin-bottom: 10px; 
	margin-top: 10px;  
	letter-spacing: 1px; 
}

p{
	font-size: 20px; 
	line-height: 25px; 
	letter-spacing: 1px; 
	color: #757575;
	margin: 0; 
	/*font-family: 'News Cycle', sans-serif;*/
	font-family: 'Gupter', serif;
}

/* LINK INFORMATION */
a{
	color: #3498db;
}

a:hover{
	color: black;
}

.spacer{
	background: #3498db;
	width: 100px;
    height: 2px;
    margin: auto;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
	margin: 0px; 
}

#page-about{
	padding-bottom: 70px; 
	padding-top: 25px; 
	padding-right: 20px; 
	padding-left: 20px; 
}

#page-skills{
	background: #f7f7f7;
	padding-bottom: 70px; 
	padding-top: 25px; 
	padding-right: 20px; 
	padding-left: 20px; 
}

.iconify-1{
	font-size: 85px; 
	color: #555;
	padding: 25px; 
}


#page-education{
	padding-bottom: 70px;
	padding-top: 25px; 
	padding-right: 20px; 
	padding-left: 20px;  
}

.collapsible2 {
  /*background-color: #eee;*/
  background-color: white; 
  border: #ccc 2px solid; 
  color: #3498db; 
  font-size: 22px; 
  letter-spacing: 1px; 
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: center;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible2:hover {
  background-color: #ccc;
}

/*fix issue with collapse*/
.collapse.in {
    display: block !important;
}

/* Style the collapsible content. Note: hidden by default */
.content2 {
  padding: 0 18px;
  display: none;
  margin: auto;
  overflow: hidden;
  /*max-height: 0;*/
/*  transition: max-height 0.5s ease-out;*/
}

#page-experience{
	background: #f7f7f7;
	padding-bottom: 70px; 
	padding-top: 25px; 
	padding-right: 20px; 
	padding-left: 20px; 
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#page-projects{
	padding-bottom: 70px; 
	padding-top: 25px; 
	padding-right: 20px; 
	padding-left: 20px; 
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
	background-color: white;
 /* color: #444;*/
    border: #ccc 2px solid;
    color: #3498db; 
    font-size: 20px; 
    letter-spacing: 1px; 
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    padding: 10px;
    width: 60%;
    text-align: center;
    outline: none;
  /*font-size: 15px;*/
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}


/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  /*background-color: #f1f1f1;*/
  width: 85%;
  float: center; 
  text-align: left;
  margin: auto; 
  /*max-height: 100%;
  transition: 0.5s ease-out;*/
}

#page-contact{
	background: #f7f7f7;
	padding-bottom: 70px; 
	padding-top: 25px; 
	padding-right: 20px; 
	padding-left: 20px; 
}


/* CONTACT BUTTONS */
.github, .linkedin, .email {

 	vertical-align: center; 
 	font-size: 80px; 
}

.github a, .linkedin a, .email a{
	color: #3498db; 
	float: center; 
}

.github a:hover, .linkedin a:hover, .email a:hover {
	color: #555;
}

/* FOOTER LAYOUT */
footer {
	background-color: #3498db; 
	text-align: center;
	color: white;
	padding: 15px; 
}

footer p{
	margin: 0; 
	color: white; 
}

